.justify-center {
  display: flex;
  justify-content: center;
}

.airports-list {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 16px;
}

.page-text {
  font-size: var(--font-size-xs);
}
