:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  color: var(--color-white);
  background-color: var(--color-red);
}

.button {
  display: flex;
  justify-content: flex-end;
}

.my-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
