@if (airport(); as airport) {
    <h1 class="title">{{ airport.name }}</h1>
    <img class="airport-image" [src]="airport.image" [alt]="'Image of ' + airport.name"/>

    <section class="card">
        <h3 class="heading-md">General Information</h3>
        <p><strong>City:</strong> {{ airport.city }}</p>
        <p><strong>Country:</strong> {{ airport.country }}</p>
        <p><strong>Owner:</strong> {{ airport.owner }}</p>
        <p><strong>Built:</strong> {{ airport.build }}</p>
    </section>
}

@if (!airport()) {
    <div class="loading">
        <app-loading></app-loading>
    </div>
}
