@if (airport(); as airport) {
    <h1 class="title heading-xl">{{ airport.name }}</h1>
    <img class="airport-image" [src]="airport.image" [alt]="'Image of ' + airport.name"/>

    <section class="card">
        <h3 class="heading-md">General Information</h3>
        <p>City: {{ airport.city }}</p>
        <p>Country: {{ airport.country }}</p>
        <p>Owner: {{ airport.owner }}</p>
        <p>Built: {{ airport.build }}</p>
    </section>
}

@if (!airport()) {
    <div class="loading">
        <app-loading></app-loading>
    </div>
}
