.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

.title {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 400px;

  //h3 {
  //  margin-bottom: .8rem;
  //}
  //
  //p {
  //  margin: .3rem 0;
  //}
}
