.airport-image {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card {
  background: var(--color-white);
  border: 1px solid var(--color-gray-20);
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 400px;
}

p {
  font-weight: var(--font-weight-bold);
}
