.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr minmax(0, 932px) 1fr;
  flex-grow: 1;
}

.page-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column: 2;
  padding: 1rem 0;
  gap: 32px;
}
