


<mat-toolbar>
  <span>Vueling</span>
</mat-toolbar>
@if (airportsList) {
  <div class="aiports-list">
    <h1>Airports List:</h1>
    <div class="airports-list-containers" >
      @for (airport of airportsList; track airport) {
        <mat-card class="example-card" (click)="clickAirport(airport.key)">
          <mat-card-header>
            <mat-card-title>{{airport.name}}</mat-card-title>
            <mat-card-subtitle>{{airport.key}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><strong>City:</strong> {{airport.city}}</p>
            <p><strong>Country:</strong> {{airport.country}}</p>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
}
@if (!airportsList && !error) {
  <div>
    <mat-spinner></mat-spinner>
  </div>
}
@if (error) {
  <div>
    {{ error }}
  </div>
}


