<div class="footer">
    <div class="navbar-content">
        <div class="left">
            <a href="https://www.vueling.com/en/about-us"
               target="_blank"
               rel="noopener"
               aria-label="About us"
               class="color-white"
            >
                About us
            </a>

            <div class="vertical-divider"></div>

            <a href="https://www.vueling.com/en/we-are-vueling/contact"
               target="_blank"
               rel="noopener"
               aria-label="Help"
               class="color-white"
            >
                Help
            </a>
        </div>

        <div class="right">
            @for (icon of icons(); track icon) {
                <app-social-link [socialPlatform]="icon"></app-social-link>
            }
        </div>
    </div>
</div>
