.footer {
  display: flex;
  align-items: center;
  background: var(--color-black);
  height: 64px;
}

.right {
  display: flex;
  gap: 16px;
}

.left {
  display: flex;
  align-items: center;
}

.color-white {
  color: var(--color-white);
}
