<div class="footer">
    <div class="navbar-content">
        <div class="left">
            @for (link of textLinks(); track link.href) {
                <app-text-link [href]="link.href" [label]="link.label"></app-text-link>
                @if (!$last) {
                    <div class="vertical-divider"></div>
                }
            }
        </div>

        <div class="right">
            @for (icon of iconLinks(); track icon) {
                <app-social-icon-link [socialPlatform]="icon"></app-social-icon-link>
            }
        </div>
    </div>
</div>
