<div class="footer">
    <div class="navbar-content">
        <div class="left color-white">
            <a href="https://www.vueling.com/en/about-us"
               target="_blank"
               rel="noopener"
               aria-label="About us"
               class="color-white"
            >
                About us
            </a>

            <div class="vertical-divider"></div>

            <a href="https://www.vueling.com/en/we-are-vueling/contact"
               target="_blank"
               rel="noopener"
               aria-label="Help"
               class="color-white"
            >
                Help
            </a>
        </div>

        <div class="right">
            <a href="https://twitter.com/vueling"
               target="_blank"
               rel="noopener"
               aria-label="Twitter"
            >
                <img src="../../../assets/twitter.svg" alt="Twitter"/>
            </a>

            <a href="https://facebook.com/vueling"
               target="_blank"
               rel="noopener"
               aria-label="Facebook"
            >
                <img src="../../../assets/facebook.svg" alt="Facebook"/>
            </a>

            <a href="https://instagram.com/vueling"
               target="_blank"
               rel="noopener"
               aria-label="Instagram"
            >
                <img src="../../../assets/instagram.svg" alt="Instagram"/>
            </a>

            <a href="https://youtube.com/vueling"
               target="_blank"
               rel="noopener"
               aria-label="YouTube"
            >
                <img src="../../../assets/youtube.svg" alt="YouTube"/>
            </a>
        </div>
    </div>
</div>
