.shadowless-gray-border {
  border: 1px solid var(--color-gray-20);
  border-radius: 8px;
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

p {
  font-weight: var(--font-weight-bold);
}

