.side-menu {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 4px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border: 1px solid var(--color-gray-20);

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: var(--color-black);
        font-weight: var(--font-weight-bold);
        padding: 1rem;

        &:hover {
          background-color: var(--color-gray-20);
        }
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.active {
  border: 1px solid var(--color-gray-20);
  background-color: var(--color-gray-45);
}
