@use 'src/styles/base/index' as *;

html, body {
  height: 100%;
  background: var(--gray-10);
  margin: 0;
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg); //todo: mira si has de posar font-weight
}

h3 {
  font-size: var(--font-md);
}

p {
  font-size: var(--font-xs);
}

.loading {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
