@use 'src/styles/base/index' as *;

html, body {
  height: 100%;
  background: var(--gray-10);
  margin: 0;
  font-family: var(--font-family-base);
}

.heading-xl {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
}

.heading-lg {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
}

.heading-md {
  font-size: var(--font-md);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-xs);
}

.loading {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: var(--color-white);
  margin: 0 8px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  max-width: 932px;
  width: 100%;
  margin: 0 auto;
}

.footer a {
  text-decoration: none;
}

.footer a:hover,
.footer a:focus-visible {
  text-decoration: underline;
}

.mb-1 {
  margin-bottom: 1rem;
}
