.navbar {
  display: flex;
  align-items: center;
  background: var(--color-primary-a);
  height: 64px;
}

.logo-and-back-arrow-content {
  margin-left: -16px;
}

.right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  color: var(--color-white);
  gap: 8px;
  padding-right: 8px;
  font-size: var(--font-sm);
}

.logout {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-sm);
  padding: 0 8px;
  margin-right: -22px;
}



