<div class="navbar">
    <div class="navbar-content">
        <div>
            <button mat-icon-button (click)="navigateBack()">
                <img alt="Navigate back button" src="../../../assets/arrow-left.svg"/>
            </button>
            <img alt="Vueling logo" class="vueling-logo" src="../../../assets/vueling-default.svg"/>
        </div>

        <div class="right">
            <div class="user-info">
                <img src="../../../assets/account-circle.svg" alt="User"/>
                <span>{{ authService.user()?.username }}</span>
            </div>

            <span class="vertical-divider"></span>

            <div class="logout">
                <span>Logout</span>
                <button mat-icon-button (click)="logout()">
                    <img src="../../../assets/logout.svg" alt="Logout button"/>
                </button>
            </div>
        </div>
    </div>
</div>
