@import "../../../../styles";

mat-toolbar {
  background: var(--color-primary-a);
}

.vueling-logo {
  height: 22px;
  width: auto;
}

.right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  color: var(--color-white);
  gap: 8px;
  padding-right: 8px;
  font-size: var(--font-xs);
}

.logout {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-xs);
  padding: 0 8px;
}



