$color-primary-a: #4D4D4D;

$gray-20: #DDD;
$gray-45: #999;

$color-white: #FFF;
$color-black: #000;
$color-red: #ff0000;

:root {
  --color-primary-a: #{$color-primary-a};

  --color-gray-20: #{$gray-20};
  --color-gray-45: #{$gray-45};

  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-red: #{$color-red};
}
