$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;

:root {
  --font-xs: #{$font-xs};
  --font-sm: #{$font-sm};
  --font-md: #{$font-md};
  --font-lg: #{$font-lg};
  --font-xl: #{$font-xl};

  --font-family-base: "Roboto", "Helvetica Neue", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
